pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "getexternaltables",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".show external  table Pblob artifacts\n| project Value = Uri",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "AzureDataExplorer1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getexternaltables",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getexternaltables').output.Value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Azure Data Explorer Command3",
							"type": "AzureDataExplorerCommand",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"command": {
									"value": ".ingest into table P (\n    h'@{item().value}?sp=rw&st=2024-09-13T04:48:33Z&se=2024-09-13T12:48:33Z&spr=https&sv=2022-11-02&sr=c&sig=GHFudWF60A5R7pNA8UazMjQ5ZWKd5in8lyIXtPlaRBI%3D'\n)",
									"type": "Expression"
								},
								"commandTimeout": "00:20:00"
							},
							"linkedServiceName": {
								"referenceName": "AzureDataExplorer2",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"k1": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-12-29T02:19:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}